# Port for the application
PORT=5000

# MongoDB connection string
MONGODB_CONNECTION=

# Upload folder path
UPLOAD_FOLDER=public/images

# Maximum file size for uploads (in bytes)
MAX_FILE_SIZE=5242880

# Allowed file types for uploads
ALLOWED_FILE_TYPES=jpg,jpeg,png

# SMTP configuration
SMTP_USERNAME=<your_smtp_username>
SMTP_PASSWORD=<your_smtp_password>

# JWT configuration
JWT_SECRET_KEY=<your_jwt_secret_key>
JWT_ACCESS_SECRET=<your_jwt_access_secret>
JWT_REFRESH_SECRET=<your_jwt_refresh_secret>
JWT_ACCESS_EXPIRES_IN=1d
JWT_REFRESH_EXPIRES_IN=30d

# Bcrypt salt rounds (usually 10-12 is good)
BCRYPT_SALT_ROUNDS=10

# Default password used for account creation or resets
DEFAULT_PASS=default_pass

# Stripe secret key
STRIPE_SECRET_KEY=<your_stripe_secret_key>

# Super Admin password
SUPER_ADMIN_PASSWORD=<your_super_admin_password>

# API response language (default is English)
API_RESPONCE_LANGUAGE=en

# Node environment (development/production)
NODE_ENV=development
